body{
    width: 100%;
    height: 100%;
}
.navBar{
    position: fixed;
    top: 0px;
    max-width: 100%;

}
.aboutNav{
    position: relative;
    top: 5px;
    padding-left: 16px;
}

.storeNav{
    position: relative;
    top: 5px;
    padding-left: 16px; 
}

.gmailNav{
    position: fixed;
    display: block;
    width: auto;
    right: 400px;
    top: 0px;
}
.imagesNav{
   position: fixed;
   display: block;
   width: auto;
   right: 300px;
   top: 0px;
}
.navApps{
    position: fixed;
    display: block;
    width: auto;
    right: 200px;
    top: 5px;
}
.profileNav{
    position: fixed;
    display: block;
    width: auto;
    right: 100px;
    top: 5px;
}

.interactive{
    text-align: center;
    position: relative;
}
.logo{
    font-size:100px;
    display: block;
    width: auto;
    margin-bottom: auto;
}
.searchBarImg{
    width: 582px;
    height: 44px;
    top: 0px;
}

.searchBox{
    width: 487px;
    height: 34px;
    position: absolute;
    top: 54.5%;
    left: 37.5%;
    
}

input[type="text"]{
    font-size: 24px;
    color: grey;
}

.submitButtons{
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31px;
}

.wordPrompt{
    display: block;
    text-align: center;
    margin-top: 3%;
}

.footer{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 4%;
    background-color: rgb(238, 238, 238);
}

.footerContents{
  position: relative;
  display: block;
  top: 33%;
}

.footContentsLeft{
    position: fixed;
    left: 0%;
}

.footContentsRight{
    position: fixed;
    left: 85%;    
}

.footAdvertising, .footBusiness, .howToSearch, .footPrivacy, 
    .footTerms, .footSettings{  
    display: inline-block;
    position: relative;
    padding-left: 16px;
}